@import "tailwindcss";
@import "react-inner-image-zoom/lib/InnerImageZoom/styles.css";

@theme {
  /* এখানে আপনি আপনার ব্র্যান্ডের কাস্টম কালার যোগ করতে পারেন */
  --color-primary: #1a1a1a;
  --color-secondary: #f5f5f5;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

body {
  @apply bg-white text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}